html {
  /* CSS HEX Colour Palette*/
  --gunmetal: #183446ff;
  --claret: #750d37ff;
  --sizzling-red: #ff2c55ff;
  --black-shadows: #bbb5bdff;
  --light-cyan: #e9fff9ff;
  --background:#2c3531ff;
  --header-text:#116466ff;
  --main-text:#d1e8e2ff;
  --drop-color:#d9b08cff;
  --tertiary-drop-color:#ffcb9aff;
}

body {
  margin: 0;
  background-color: var(--background);
  color: var(--main-text);
}

.text-header {
  color: var(--drop-color);
}

section {
  margin: 0.5%;
  padding: 1em;
  border: 2px solid var(--tertiary-drop-color);
  border-radius: 10px;
  background-color: var(--header-text);
}

div {
  margin: 1em 0;
}

textarea {
  background-color: var(--gunmetal);
  color: var(--black-shadows);
  padding: 0.5em;
  border: 2px solid var(--black-shadows);
  border-radius: 0.5em;
}

textarea::placeholder {
  color: var(--drop-color);
  padding: 0.5em;
  margin: 30px 0;
}

textarea:target-text {
  padding: 0.5em;
}

label {
  margin-bottom: 10px;
  display: inline-block;
}

button {
  font-size: 15px;
  background: var(--header-text);
  color: var(--main-text);
  border: 2px solid var(--tertiary-drop-color);
  border-radius: 1em;
  padding: 1em 2em;
  transition: transform 0.15s, border-color 0.15s, box-shadow 0.15s;
}

button:hover {
  border-color: #f1ff5c;
  box-shadow: 0 0.5em 0.5em -0.4em #f1ff5c;
  transform: translateY(-0.1em);
}
